doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title wonHundred
    body 
        header 
            nav
                ul
                    li Search
                    li Won Hundred
                    li Shopping Bag (0)
                    li Journal
                    li Women
                    li Men
                    li Currency
        main 
            h1 Spring Summer - Volume 2
            h6 
                | Get your wardrobe ready for those upcoming
                | warm spring days with our second delivery 
                | of Spring Summer 20.
            .show-window
                .show-window__img
                .show-window__img
                .show-window__img
                .show-window__img
            section.arrivals
                h4.arrivals__title Selected New Arrivals
                .wrapper
                    article.product
                        .product__photo
                        .product__data
                            span.name Jonah Shirt - Zen Blue
                            span.price 900 DKK
                    article.product
                        .product__photo
                        .product__data
                            span.name Jonah Shirt - Zen Blue
                            span.price 900 DKK
                    article.product
                        .product__photo
                        .product__data
                            span.name Jonah Shirt - Zen Blue
                            span.price 900 DKK
                    article.product
                        .product__photo
                        .product__data
                            span.name Jonah Shirt - Zen Blue
                            span.price 900 DKK
                    span.product__category Shop Women's News Arrivals
                    span.product__category Shop Men's News Arrivals
        footer
            .email-from
                span Sign up to newsletter 
                div
                    input(type="email", placeholder="Your E-mail")
                    div 
                        span Women
                    div
                        span Men
            .shopping
                span Shopping 
                ul
                    li Gfit Card
                    li Terms & conditions
                    li Privacy Policy
                    li Cookie Policy
                    li Delivery
                    li Payment
                    li Returns
                    li Account
            .company
                span Company 
                ul
                    li Contact
                    li Sustainbility
                    li About
                    li Careers 
                    li Stores 
                    li Press 
                    li B2B
            .info
                div Instagram Fascebook 
                div ® 2018 Won Hundred